html,
body {
    background-color: #ffffff;
}

h1 {
    color: #ff052b;
    text-decoration: underline;
    font-size: 45px;
    font-weight: bolder;
}

h2,
h5,
a,
span {
    color: rgb(0, 0, 0);
}

.p-2 {
    font-size: 25px;
}

#score-list {
    font-size: 22px;
    color: #2809f5;
}

ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: #2809f5;
    display: inline-block;
    width: 16px;
    margin-left: -24px;
    margin-right: 10px;
    text-align: right;
    direction: rtl;
}

#scoresTitle {
    padding-left: 16px;
}